
html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout:fixed;
    word-break: break-all;
}

.div {
    max-width: 100%;
    text-align: center;
}

#profilepicturediv {
    text-align: center;
}

img { 
    max-width: 25%; 
    height: auto; 
}

#profileimagediv {
    height: 100px;
    width: 100px;
}

#contextinfo {
    display: none;
}

#accesstokendata, #profileinfo {
    display: none;
}

.buttongroup {
    text-align: center;
}

button {
    margin: 20px;
     
}
.container {
  position: static;
  padding: 5px 500px;
  width: 265px;
  height: 100px;
  margin: -6px 5px -40px -480px;

}
h2 {
  position: relative;
  background: #A80BA3;
  padding: 5px 10px;
  margin: 100 px;
  color: #fff;
  
}
label {
  position: relative;
  
  padding: 50px 10px;
  margin: 100 px;
  color: #050004;
  
}
input {
  position: relative;
  padding: 5px 10px;
  margin: 100 px;
  color: #050004;
  
}
